/.settings/
/bin/
/gen/
/libs/
/project.properties
/.classpath
/.project
/lint.xml
/proguard-project.txt

# Android Studio
*.gradle
.idea/
*.iml
build/
gradle*
local.properties

# OSX garbage
.DS_Store
