/.settings/
/bin/
/gen/
/libs/
/project.properties
/.classpath
/.project
/lint.xml
/proguard-project.txt

# Android Studio
*.gradle
.idea/
*.iml
build/
gradle*
local.properties

# OSX garbage
.DS_Store
##############################
# Eclipse project files
##############################
.classpath
.project

##############################
# Proguard folder (Eclipse)
##############################
proguard/

##############################
# Intellij project files
##############################
*.iml
*.ipr
*.iws
.idea/

##############################
# Gradle build files
##############################
*.gradle
build/
gradle*
