Provides information to the user using either TTS, the Display or both and
can include a system-generated alert tone.

If connecting to SDL Core v.6.0+, the alert can be canceled programmatically using the `cancelID`. Canceling will not dismiss the alert's speech - only the modal view will be dismissed. On older versions of SDL Core, the alert will persist until the user has interacted with the alert or the specified timeout has elapsed.

<ul>
    <li>The displayed portion of the Alert, if any, will persist until the
        specified timeout has elapsed, or the Alert is preempted</li>
    <li>An Alert will preempt (abort) any SmartDeviceLink Operation that is in-progress,
        except an already-in-progress Alert</li>
    <li>An Alert cannot be preempted by any SmartDeviceLink Operation</li>
    <li>An Alert can be preempted by a user action (button push)</li>
    <li>An Alert will fail if it is issued while another Alert is in progress</li>
    <li>Although each Alert parameter is optional, in fact each Alert request
        must supply at least one of the following parameters:
        <ul>
            <li>alertText1</li>
            <li>alertText2</li>
            <li>alertText3</li>
            <li>ttsChunks</li>
        </ul>
    </li>
</ul>

<p><b>HMILevel needs to be FULL or LIMITED.</b></p>
<b>If the app has been granted function group Notification the HMILevel can
    also be BACKGROUND</b>
<table border="1" rules="all">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Req.</th>
        <th>Notes</th>
        <th>Version Available</th>
    </tr>
    <tr>
        <td>alertText1</td>
        <td>String</td>
        <td>Text to be displayed in the first field of the display during the Alert. </td>
        <td>N</td>
        <td>Length is limited to what is indicated in RegisterAppInterface response.  If omitted, top display line will be cleared. Text is always centered</td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>alertText2</td>
        <td>String</td>
        <td>Text to be displayed in the second field of the display during the Alert. </td>
        <td>N</td>
        <td>Only permitted if HMI supports a second display line.	Length is limited to what is indicated in RegisterAppInterface response. 	If omitted, second display line will be cleared.  </td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>alertText3</td>
        <td>String</td>
        <td>Text to be displayed in the third field of the display during the Alert.</td>
        <td>N</td>
        <td>Array must have a least one element. </td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>ttsChunks</td>
        <td>TTSChunk[]</td>
        <td>Array of type TTSChunk which, taken together, specify what is to be spoken to the user.</td>
        <td>N</td>
        <td>Array must have a least one element. </td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>Integer</td>
        <td>The duration of the displayed portion of the alert, in milliseconds. After this amount of time has passed, the display fields alertText1 and alertText2 will revert to what was displayed in those fields before the alert began.</td>
        <td>N</td>
        <td>Min Value: 3000 Max Value: 10000. If omitted, the default is 5000 milliseconds</td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>playTone</td>
        <td>Boolean</td>
        <td>Specifies whether the alert tone should be played before the TTS (if any) is spoken.</td>
        <td>N</td>
        <td>If omitted, default is true.</td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>softButtons</td>
        <td>SoftButton[]</td>
        <td>Specifies the softbuttons, the apps wants to use in this alert.</td>
        <td>N</td>
        <td>If omitted on supported displays, the alert will not have any SoftButton.ArrayMin: 0; ArrayMax: 4</td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>progressIndicator</td>
        <td>Boolean</td>
        <td>If supported on the given platform, the alert GUI will include some sort of animation indicating that loading of a feature is progressing.  e.g. a spinning wheel or hourglass, etc.</td>
        <td>N</td>
        <td></td>
        <td>SmartDeviceLink 1.0</td>
    </tr>
    <tr>
        <td>cancelID</td>
        <td>Integer</td>
        <td>An ID for this specific alert to allow cancellation through the `CancelInteraction` RPC.</td>
        <td>N</td>
        <td></td>
        <td>SmartDeviceLink 6.0</td>
    </tr>
    <tr>
        <td>alertIcon</td>
        <td>Image</td>
        <td>Image struct determining whether the icon is static or dynamic. If omitted on supported displays, no (or the default if applicable) icon should be displayed.</td>
        <td>N</td>
        <td></td>
        <td>SmartDeviceLink 6.0.0</td>
    </tr>
</table>