App cannot interact with user via TTS, VR, Display or Button Presses. App can perform the following operations:
<ul>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.AddCommand}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.DeleteCommand}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.AddSubMenu}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.DeleteSubMenu}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.CreateInteractionChoiceSet}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.DeleteInteractionChoiceSet}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.SubscribeButton}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.UnsubscribeButton}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.Show}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.UnregisterAppInterface}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.ResetGlobalProperties}</li>
<li>Operation {@linkplain com.smartdevicelink.proxy.rpc.SetGlobalProperties}</li>
</ul>