<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Required to pair Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check if WiFi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.smartdevicelink.test" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <queries>
        <intent>
            <action android:name="com.smartdevicelink.router.service" />
        </intent>
        <intent>
            <action android:name="sdl.router.startservice" />
        </intent>
    </queries>

    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
        <activity android:name="com.smartdevicelink.managers.lockscreen.SDLLockScreenActivity" />
    </application>

</manifest>
