<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdl.hellosdlandroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check if WiFi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Required to use the USB Accessory mode -->
    <uses-feature android:name="android.hardware.usb.accessory" />

    <!-- Required when targeting Android API 30+ -->
    <queries>
        <intent>
            <action android:name="com.smartdevicelink.router.service" />
        </intent>
        <intent>
            <action android:name="sdl.router.startservice" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="DeepLinks">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smartdevicelink.transport.USBAccessoryAttachmentActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service
            android:name="com.sdl.hellosdlandroid.SdlService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
        </service>
        <service
            android:name=".SdlRouterService"
            android:exported="true"
            android:process="com.smartdevicelink.router"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.smartdevicelink.router.service" />
            </intent-filter>
            <meta-data
                android:name="@string/sdl_router_service_version_name"
                android:value="@integer/sdl_router_service_version_value" />
        </service>

        <receiver
            android:name=".SdlReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.smartdevicelink.USB_ACCESSORY_ATTACHED" /> <!--For AOA -->
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="sdl.router.startservice" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.smartdevicelink.managers.lockscreen.SDLLockScreenActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>